﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@ViewBag.Title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/html5.boilerplate.normalize.css")">
        <link rel="stylesheet" type="text/css"  href="@Url.Content("~/Content/css/html5.boilerplate.main.css")">
        <link rel="stylesheet" type="text/css"  href="@Url.Content("~/Content/css/telerik.common.min.css")">
        <link rel="stylesheet" type="text/css"  href="@Url.Content("~/Content/css/kendo.common.min.css")">
        <link rel="stylesheet" type="text/css"  href="@Url.Content("~/Content/css/kendo.default.min.css")">
        <link rel="stylesheet" type="text/css"  href="@Url.Content("~/Content/css/prettify.css")">
        <link rel="stylesheet" type="text/css"  href="@Url.Content("~/Content/css/slick.grid.css")">
        
        <link rel="stylesheet" type="text/css"  href="@Url.Content("~/Content/css/jquery.multiselect.css")">
        <link rel="stylesheet" type="text/css"  href="@Url.Content("~/Content/css/jquery.multiselect.filter.css")">

        <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/Content/css/mvc.boilerplate/mvc.boilerplate.less")">

        <script src="@Url.Content("~/Content/scripts/lib/modernizr-2.6.1.min.js")"></script>
        <script src="@Url.Content("~/Content/scripts/lib/less-1.3.0.min.js")"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script> window.jQuery || document.write('<script src="@Url.Content("~/Content/scripts/lib/jquery-1.8.0.min.js")"><\/script>')</script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
        <script> (jQuery.ui) || document.write('<script src="@Url.Content("~/Content/scripts/lib/jquery-ui-1.9.1.min.js")"><\/script>')</script>
        <script src="@Url.Content("~/Content/scripts/lib/kendo.web.min.js")"></script>
        <script src="@Url.Content("~/Content/scripts/lib/prettify.js")"></script>
        <script src="@Url.Content("~/Content/scripts/lib/jquery.event.drag-2.0.min.js")"></script>
        <script src="@Url.Content("~/Content/scripts/lib/slick.core.js")"></script>
        <script src="@Url.Content("~/Content/scripts/lib/slick.grid.js")"></script>
        
        <script src="@Url.Content("~/Content/scripts/lib/jquery.multiselect.js")"></script>
        <script src="@Url.Content("~/Content/scripts/lib/jquery.multiselect.filter.js")"></script>

        <script src="@Url.Content("~/Content/scripts/lib/jquery.splitbutton.js")"></script>

        <script src="@Url.Content("~/Content/scripts/lib/html.encode.decode.js")"></script>
        <script src="@Url.Content("~/Content/scripts/lib/mvc-boilerplate.utility.js")"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="content">
        @RenderBody()
        </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
            (function (d, t) {
                var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
                g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g, s)
            } (document, 'script'));
        </script>
    </body>
</html>
